[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-rest-auth = "*"
coreapi = "*"
pyyaml = "*"
update = "*"
drf-yasg = "*"
setuptools = "*"
django-allauth = "*"
dj-rest-auth = "*"
markdown = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.12"
